@{
    ViewBag.Title = "Calculadora";
}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>


    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->



</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#"><img src="@ViewBag.Foto" alt="Perfil" class="img-circle"></a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center nameuser">
                <a href="#"><h2 class="titleuser">@ViewBag.Fb.name</h2></a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form">
                <div class="form-group">
                    <label class="col-md-4 control-label text-right" for="where">FAIXA:</label>
                    <div class="col-md-4">
                        <select id="faixa" name="where" class="form-control">
                            <option value="0">Selecione sua faixa:</option>
                            <option value="1">Branca</option>
                            <option value="3">Cinza</option>
                            <option value="5">Amarela</option>
                            <option value="7">Laranja</option>
                            <option value="9">Verde</option>
                            <option value="11">Azul</option>
                            <option value="13">Roxa</option>
                            <option value="15">Marrom</option>
                            <option value="17">Preta</option>
                            <option value="19">Vermelha / Preta</option>
                            <option value="21">Vermelha / Branca</option>
                            <option value="23">Vermelha</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form">
                <div class="form-group">
                    <label class="col-md-4 control-label text-right" for="where">CATEGORIA:</label>
                    <div class="col-md-4">
                        <select id="categoria" name="where" class="form-control">
                            <option value="0">Selecione sua categoria:</option>
                            <option value="10">Adulto</option>
                            <option value="5">Infantil</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form">
                <div class="form-group">
                    <label class="col-md-4 control-label text-right" for="where">TEMPO DE JIU-JITSU:</label>
                    <div class="col-md-4">
                        <select id="tempo" name="where" class="form-control">
                            <option value="0">Selecione seu tempo:</option>
                            <option value="1">< 1 Ano</option>
                            <option value="2">1 a 2 anos</option>
                            <option value="5">2 a 3 anos</option>
                            <option value="7">3 a 4 anos</option>
                            <option value="9">5 a 6 anos</option>
                            <option value="11">6 a 7 anos</option>
                            <option value="13">8 a 9 anos</option>
                            <option value="15">10 anos +</option>

                        </select>
                    </div>
                </div>
            </div>

            <div id="wrappter">

                <form id="camp1" class="form-inline">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <label class="col-md-4 control-label text-right" for="where">Campeonato </label>
                            <select id="faixaCamp1" name="where" class="form-control">
                                <option value="0">Selecione sua faixa:</option>
                                <option value="1">Branca</option>
                                <option value="3">Cinza</option>
                                <option value="5">Amarela</option>
                                <option value="7">Laranja</option>
                                <option value="9">Verde</option>
                                <option value="11">Azul</option>
                                <option value="13">Roxa</option>
                                <option value="15">Marrom</option>
                                <option value="17">Preta</option>
                                <option value="19">Vermelha / Preta</option>
                                <option value="21">Vermelha / Branca</option>
                                <option value="23">Vermelha</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="colocacaoCamp1" name="where" class="form-control">
                                <option value="0">Selecione sua colocação:</option>
                                <option value="10">1º Lugar</option>
                                <option value="6">2º Lugar</option>
                                <option value="3">3º Lugar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="categoriaCamp1" name="where" class="form-control">
                                <option value="0">Selecione sua categoria:</option>
                                <option value="10">Adulto</option>
                                <option value="5">Infantil</option>
                            </select>
                        </div>
                    </div>
                </form>
                <form id="camp2" class="form-inline">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <label class="col-md-4 control-label text-right" for="where">Campeonato </label>
                            <select id="faixaCamp2" name="where" class="form-control">
                                <option value="0">Selecione sua faixa:</option>
                                <option value="1">Branca</option>
                                <option value="3">Cinza</option>
                                <option value="5">Amarela</option>
                                <option value="7">Laranja</option>
                                <option value="9">Verde</option>
                                <option value="11">Azul</option>
                                <option value="13">Roxa</option>
                                <option value="15">Marrom</option>
                                <option value="17">Preta</option>
                                <option value="19">Vermelha / Preta</option>
                                <option value="21">Vermelha / Branca</option>
                                <option value="23">Vermelha</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="colocacaoCamp2" name="where" class="form-control">
                                <option value="0">Selecione sua colocação:</option>
                                <option value="10">1º Lugar</option>
                                <option value="6">2º Lugar</option>
                                <option value="3">3º Lugar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="categoriaCamp2" name="where" class="form-control">
                                <option value="0">Selecione sua categoria:</option>
                                <option value="10">Adulto</option>
                                <option value="5">Infantil</option>
                            </select>
                        </div>
                    </div>
                </form>
                <form id="camp3" class="form-inline">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <label class="col-md-4 control-label text-right" for="where">Campeonato </label>
                            <select id="faixaCamp3" name="where" class="form-control">
                                <option value="0">Selecione sua faixa:</option>
                                <option value="1">Branca</option>
                                <option value="3">Cinza</option>
                                <option value="5">Amarela</option>
                                <option value="7">Laranja</option>
                                <option value="9">Verde</option>
                                <option value="11">Azul</option>
                                <option value="13">Roxa</option>
                                <option value="15">Marrom</option>
                                <option value="17">Preta</option>
                                <option value="19">Vermelha / Preta</option>
                                <option value="21">Vermelha / Branca</option>
                                <option value="23">Vermelha</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="colocacaoCamp3" name="where" class="form-control">
                                <option value="0">Selecione sua colocação:</option>
                                <option value="10">1º Lugar</option>
                                <option value="6">2º Lugar</option>
                                <option value="3">3º Lugar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="categoriaCamp3" name="where" class="form-control">
                                <option value="0">Selecione sua categoria:</option>
                                <option value="10">Adulto</option>
                                <option value="5">Infantil</option>
                            </select>
                        </div>
                    </div>
                </form>
                <form id="camp4" class="form-inline">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <label class="col-md-4 control-label text-right" for="where">Campeonato </label>
                            <select id="faixaCamp4" name="where" class="form-control">
                                <option value="0">Selecione sua faixa:</option>
                                <option value="1">Branca</option>
                                <option value="3">Cinza</option>
                                <option value="5">Amarela</option>
                                <option value="7">Laranja</option>
                                <option value="9">Verde</option>
                                <option value="11">Azul</option>
                                <option value="13">Roxa</option>
                                <option value="15">Marrom</option>
                                <option value="17">Preta</option>
                                <option value="19">Vermelha / Preta</option>
                                <option value="21">Vermelha / Branca</option>
                                <option value="23">Vermelha</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="colocacaoCamp4" name="where" class="form-control">
                                <option value="0">Selecione sua colocação:</option>
                                <option value="10">1º Lugar</option>
                                <option value="6">2º Lugar</option>
                                <option value="3">3º Lugar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="categoriaCamp4" name="where" class="form-control">
                                <option value="0">Selecione sua categoria:</option>
                                <option value="10">Adulto</option>
                                <option value="5">Infantil</option>
                            </select>
                        </div>
                    </div>
                </form>
                <form id="camp5" class="form-inline">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <label class="col-md-4 control-label text-right" for="where">Campeonato </label>
                            <select id="faixaCamp5" name="where" class="form-control">
                                <option value="0">Selecione sua faixa:</option>
                                <option value="1">Branca</option>
                                <option value="3">Cinza</option>
                                <option value="5">Amarela</option>
                                <option value="7">Laranja</option>
                                <option value="9">Verde</option>
                                <option value="11">Azul</option>
                                <option value="13">Roxa</option>
                                <option value="15">Marrom</option>
                                <option value="17">Preta</option>
                                <option value="19">Vermelha / Preta</option>
                                <option value="21">Vermelha / Branca</option>
                                <option value="23">Vermelha</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="colocacaoCamp5" name="where" class="form-control">
                                <option value="0">Selecione sua colocação:</option>
                                <option value="10">1º Lugar</option>
                                <option value="6">2º Lugar</option>
                                <option value="3">3º Lugar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="form-group">
                            <select id="categoriaCamp5" name="where" class="form-control">
                                <option value="0">Selecione sua categoria:</option>
                                <option value="10">Adulto</option>
                                <option value="5">Infantil</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <br>
                </div>
            </div>


            <div id="btn-add" class="col-md-12 col-sm-12 col-xs-12 text-center form-btn">
                <a class="btn btn-warning btn-form" href="#" role="button" id="addcamp">Adicionar campeonato</a>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 text-center form-btn">
                <a class="btn btn-success btn-calc" id="calcula" role="button">Calcular</a>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="index.html"><img class="logosmall" src="~/img/meujiujitsu.svg"></a>
            </div>
        </div>
    </div>

</body>

</html>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jiu.js"></script>